<h1>Product Details: {{ productDetail.name }}</h1>

<form
  #form="ngForm"
  class="details-form"
  (ngSubmit)="updateDetails(currentProductDetail)"
>
  <mat-form-field class="details-full-width">
    <mat-label>Name</mat-label>
    <input
      matInput
      placeholder="Product name..."
      [(ngModel)]="currentProductDetail.name"
      name="name"
      type="text"
      required
    />
  </mat-form-field>

  <mat-form-field class="details-full-width">
    <mat-label>Color</mat-label>
    <input
      matInput
      placeholder="Product color..."
      [(ngModel)]="currentProductDetail.color"
      name="color"
      type="text"
      maxlength="56"
      required
    />
  </mat-form-field>

  <mat-form-field class="details-full-width">
    <mat-label>Type</mat-label>
    <input
      matInput
      placeholder="Product type..."
      [(ngModel)]="currentProductDetail.type"
      name="type"
      type="text"
      maxlength="56"
      required
    />
  </mat-form-field>

  <mat-form-field class="details-full-width">
    <mat-label>Color</mat-label>
    <textarea
      matInput
      placeholder="Product description..."
      [(ngModel)]="currentProductDetail.description"
      name="description"
      type="text"
      maxlength="56"
      required
    ></textarea>
  </mat-form-field>

  <mat-form-field class="details-full-width">
    <mat-label>Price</mat-label>
    <input
      matInput
      placeholder="Product price..."
      [(ngModel)]="currentProductDetail.price"
      name="price"
      type="text"
      min="0"
      required
    />
  </mat-form-field>
  <button
    type="submit"
    [disabled]="form.invalid"
    mat-raised-button
    color="primary"
  >
    Update
  </button>
</form>
