<h1>Product Details</h1>

<pre>{{ details | json }}</pre>

<form
  #form="ngForm"
  class="details-form"
  (submit)="updateDetails(currentDetails)"
>
  <mat-form-field class="details-full-width">
    <mat-label>Name</mat-label>
    <input
      matInput
      placeholder="Product name..."
      [(ngModel)]="currentDetails.name"
      name="name"
      type="text"
      required
    />
  </mat-form-field>

  <mat-form-field class="details-full-width">
    <mat-label>Color</mat-label>
    <input
      matInput
      placeholder="Product color..."
      [(ngModel)]="currentDetails.color"
      name="color"
      type="text"
      maxlength="56"
      required
    />
  </mat-form-field>

  <mat-form-field class="details-full-width">
    <mat-label>Type</mat-label>
    <input
      matInput
      placeholder="Product type..."
      [(ngModel)]="currentDetails.type"
      name="type"
      type="text"
      maxlength="56"
      required
    />
  </mat-form-field>

  <mat-form-field class="details-full-width">
    <mat-label>Color</mat-label>
    <textarea
      matInput
      placeholder="Product description..."
      [(ngModel)]="currentDetails.description"
      name="description"
      type="text"
      maxlength="56"
      required
    ></textarea>
  </mat-form-field>

  <mat-form-field class="details-full-width">
    <mat-label>Price</mat-label>
    <input
      matInput
      placeholder="Product price..."
      [(ngModel)]="currentDetails.price"
      name="price"
      type="text"
      min="0"
      required
    />
  </mat-form-field>
  <button
    type="submit"
    [disabled]="form.invalid"
    mat-raised-button
    color="primary"
    [routerLink]="'/product-list'"
  >
    Update
  </button>
</form>
